@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

@keyframes backgrounds {
    0% {
        background-color: #60608c;
    }

    50% {
        background-color: #9fbefb;
    }

    100% {
        background-color: #60608c;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    background-color: #F4F4F4;
    background-image: url(../images/BACKGROUND2.png);
    background-attachment: fixed;
    background-size: contain;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 4rem;
    text-shadow: 3px 3px 2px rgba(96, 96, 140, 1);
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

h3 {
    font-size: 1.75rem;
    margin-top: 0;
}

p {
    font-size: 1.5rem;
}

.longDescriptionText {
    font-size: 1.75rem;
}

a {
    background-color: #ff8d46;
    padding: 1vw;
    border-radius: 1vw;
    color: black;
    text-decoration: none;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: black 2px solid;
    transition: all 0.1s ease-out;
}

a:hover {
    background-color: #E26212;
    padding: 1vw;
    border-radius: 1vw;
    color: black;
    text-decoration: none;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: black 2px solid;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #60608c;
    padding: 1vw;
    border-bottom: black 3px solid;
    animation: backgrounds 10s infinite;
}

.logo {
    width: 4vw;
    height: 10vh;
}

.navLinks {
    margin-top: 3vh;
}

header {
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.image {
    transition: all 0.2s ease-out;
}

.image:hover {
    transform: scale(1.15);
}

.headerFlex {
    display: flex;
    flex-direction: row;
    margin-left: 27vw;
    align-items: center;
}

.description {
    margin-left: 5vw;
    background-color: #f0780e;
    padding: 2vw;
    border-radius: 1vw;
    transition: all 0.2s ease-out;
    border: black 3px solid;
}

.description:hover {
    margin-left: 5vw;
    background-color: #f0780e;
    padding: 2vw;
    border-radius: 1vw;
    transform: scale(1.15);
    border: black 3px solid;
}

.longDescription {
    padding: 3vw 3vw 0vw 3vw;
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5vh;
    background-color: #f0780e;
    padding: 2vw;
    border-radius: 1vw;
    border: black 3px solid;
}

.longDescription:hover {
    padding: 3vw 3vw 0vw 3vw;
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5vh;
    background-color: #f0780e;
    padding: 2vw;
    border-radius: 1vw;
    border: black 3px solid;
}

.games {
    display: flex;
    flex-direction: row;
    padding: 0vw 3vw 0vw 3vw;
    text-align: center;
    margin-bottom: 10vh;
    margin-left: 2.5vw;
}

.roulette {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #f0780e;
    margin: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    border: black 3px solid;
}

.roulette:hover {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #f0780e;
    margin: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    border: black 3px solid;
}

.blackjack {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #f0780e;
    margin: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    border: black 3px solid;
}

.blackjack:hover {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #f0780e;
    margin: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    border: black 3px solid;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #60608c;
    padding: 1vw;
    border-top: black 3px solid;
    animation: backgrounds 10s infinite;
}

.footerLinks {
    margin-left: 60vw;
    margin-top: 3vh;
}

#footerLink {
    background-color: transparent;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 0;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-out;
    border: none;
    margin: 0;
}

#footerLink:hover {
    background-color: transparent;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 0;
    color: black;
    text-decoration: underline;
}
